%TMPL:INCLUDE{"attachtables"}%
%{ These templates define the tables used to display attachments. }%

%TMPL:DEF{ATTACH:files:header(toprow)}%<table class='tablesorter {widgets:[&quot;zebra&quot;], headers:{0:{sorter:false}, 1:{sorter: &quot;text&quot;}, 2:{sorter: &quot;text&quot;}, 3:{sorter:&quot;qwikiSize&quot;},4:{sorter:&quot;qwikiDate&quot;}, 5:{sorter: &quot;text&quot;}, 6:{sorter: &quot;text&quot;}}}'><thead><tr><th class='foswikiFirstCol'></th><th class='iconCol'>%MAKETEXT{"Type"}%</th><th>%MAKETEXT{"Filename"}%</th><th>%MAKETEXT{"Size"}%</th><th>%MAKETEXT{"Date"}%</th><th>%MAKETEXT{"Uploaded by"}%</th><th>%MAKETEXT{"Comment"}%</th></tr></thead><tbody>%TMPL:END%

%TMPL:DEF{ATTACH:files:row(basic):buttons}%%FAVORITEBUTTON{
  default=""
  cond="'%TOPIC%'='%WORKFLOWORIGIN%' AND $FAVORITES='1' and not context 'comparing'"
  web="%WEB%" topic="%TOPIC%" file="%A_FILE%"
  active_suffix="gold" inactive_suffix="grey"
  active_label="%MAKETEXT{"Remove bookmark"}%" inactive_label="%MAKETEXT{"Bookmark this file"}%"
  format="$formstart$linkstart<img class=\"modacBookmarkStar modacFileStar\" src=\"%PUBURLPATH%/%SYSTEMWEB%/FamFamFamSilkCompanion1Icons/star_$suffix.png\" alt=\"$label\" title=\"$label\" />$linkend$formend"
}%%TMPL:END%

%{ A basic row definition, for attachment table and attach screen }%
%{ Use %A_URL% instead of %PUBURLPATH%/%WEB%/%TOPIC%/%A_FILE% to get a viewfile link }%
%TMPL:DEF{ATTACH:files:row(basic)}%<tr%TMPL:P{"ATTACH:files:row:attr"}%><td class='foswikiFirstCol'> %TMPL:P{"ATTACH:files:row(basic):buttons"}%</td><td class='iconCol'>%A_ICON%<span class="foswikiHidden">%A_EXT%</span></td><td class='attachmentLink'> <a href="%ATTACHURLPATH%/%ENCODE{%A_FILE%}%"><noautolink>%A_FILE%</noautolink>&nbsp;&raquo;</a></td><td>%A_SIZE%</td><td><span class="foswikiNoBreak">%A_DATE%</span></td><td>%RENDERUSER{"%A_USER%" convert="on"}%</td><td>%A_COMMENT%</td></tr>%TMPL:END%

